auto-install-peers=false
dedupe-peer-dependents=false
ignore-dep-scripts=true
lockfile=true
registry=https://registry.npmjs.org/
save-exact=true
strict-peer-dependencies=false
tag-version-prefix=""
# https://pnpm.io/npmrc#public-hoist-pattern
# config
public-hoist-pattern[]=*biome*
public-hoist-pattern[]=*ccommit*
public-hoist-pattern[]=*lint-staged*
public-hoist-pattern[]=*prettier*
# typescript
public-hoist-pattern[]=*types*
# storybook
public-hoist-pattern[]=@storybook*
public-hoist-pattern[]=@mdx-js/react
