@jeromefitz:registry=https://registry.npmjs.org/
strict-peer-dependencies=false
###
### @note(pnpm) still determine best path forward here...
###
###
## Do we hoist packages that are used as tooling throughout?
# codestyle
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=lint-staged
public-hoist-pattern[]=prettier
public-hoist-pattern[]=pretty-quick
# typescript
public-hoist-pattern[]=*types*
# storybook
public-hoist-pattern[]=@storybook*
public-hoist-pattern[]=@mdx-js/react
##
## OR does working locally work best this way. :X
##
# shamefully-hoist=true
